/* .animated-btn {
  --c: #fff;
  color: var(--c);
  background-color: #246fc2;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  border: 2px solid #246fc2;
}

.animated-btn span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.animated-btn:hover {
  color: #246fc1;
}

.animated-btn:hover span {
  transform: translateY(0) scale(2);
}

.animated-btn span:nth-child(1) {
  --n: 1;
}

.animated-btn span:nth-child(2) {
  --n: 2;
}

.animated-btn span:nth-child(3) {
  --n: 3;
}

.animated-btn span:nth-child(4) {
  --n: 4;
} */
