/*======================
React Tabs
=======================*/
.react-tabs__tab-list {
  border-color: #29333f00;
  outline: none !important;
  user-select: none;
  padding-top: 1rem;
}

.react-tabs__tab--selected {
  background-color: #FFCC00 !important;
  border-radius: 0.4rem;
  color: white;
  border: none;
  outline: none !important;
}
.react-tabs__tab--selected::after {
  content: "";
  background-color: #343b4400 !important;
  border-radius: 0.4rem;
  color: white;
}
.react-tabs__tab {
  background-color: #246FC2;
  border-radius: 0.4rem;
  color: white;
  border: none;
  outline: none !important;
}

/*======================
React Tabs
=======================*/
