/* For Scrollbar Start =================================================== */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 50px #aeaeae;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 50px #7a7a7a;
} */

/* For Scrollbar End ================================================================ */

/* For Scrollbar Start =================================================== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px #ffffff00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 50px #aeaeae00;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 50px #7a7a7a00;
}

/* For Scrollbar End ================================================================ */

.slick-thumb::-webkit-scrollbar-thumb {
  width: 0;
  -webkit-box-shadow: inset 0 0 50px #aeaeae00;
}

/* .avtar-containar::-webkit-scrollbar-thumb {
  width: 0;
  -webkit-box-shadow: inset 0 0 50px #aeaeae00;
} */

/* For Avtar list Start =================================================== */
.avtar-containar::-webkit-scrollbar {
  /* width: 8px; */
  scrollbar-width: thin;
}

.avtar-containar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px var(--modal-bg);
  border-radius: 10px;
}

.avtar-containar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 50px var(--color-primary);
  cursor: pointer;
}

.avtar-containar::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 50px var(--color-secondary);
}

/* For Avtar list End ================================================================ */
